h1 {
    text-align: center;
    text-shadow: 2px 2px 4px white;
    font-family: 'Indie Flower', cursive;
  font-size: 53px;
}
div {
  text-align: center;
  margin: auto;
}
body {
    background-color: #02c39a;
}

.cell {
  width:80px;
  height:80px;
  border: 5px solid #000000;
  background: #FFFFFF;
  font-size: 46pt;
  font-family: arial;
  font-weight: bold;
  text-align: center;
  margin: auto;

}
table{
    margin: auto;
}

fieldset {
  text-align: center;
  margin: auto;
}

.cell:hover {
  background: #C2DBFC;
  text-align: center;
  cursor: pointer;
}
.resetear:hover {
  background: #C2DBFC;
  text-align: center;
  padding: 6px;
  font-size: 20px;
}
.resetear{
    padding: 4px;
    width: 100px;
    height: 40px;
    border: none;
    font-weight: bold;


}
.n_player{
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 5px;
}
.game{
    height: 50%;
    width: 50%;
    font-family: inherit;
    font-size: 20px;
    position: relative;
    text-align: justify;
    border: 2px solid #02F3C0;
    background: #01A481;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2), 0 15px 30px 0 rgba(0, 0, 0, 0.19);

}
img{
    height: 200px;
    width: 200px;
    padding-left: 18%;
}
img:hover{
  
  border-radius: 3px solid blue;
  opacity: 0.7;
  cursor: pointer;
  
}

button:hover {
background: white;
color: #3a7999;
box-shadow: inset 0 0 0 3px #3a7999;
}
h2{
    color: white;
    text-shadow: 2px 2px 4px black;
    font-family: 'Indie Flower', cursive;
    
}


