body{
    background:#02c39a;
}
h1 {
    text-align: center;
    text-shadow: 2px 2px 4px white;
    font-family: 'Indie Flower', cursive;
  font-size: 53px;
}
.tablero{
				width: 416px;
				height: 416px;								
                border: 1px solid black;
                text-align: center;
                margin: auto;	
                		
			}

			.tablero div{
				width: 50px;
				height: 50px;
				border: 1px solid black;
				float: left;
				background-color: #05abe0;				
				font-size: 30;	
                text-align: center;
                
			}