
body {
    background-color: #02c39a;
}

td {
  border: 1px solid #000000;
}

input {
  color: #000000;
  padding: 0;
  border: 0;
  text-align: center;
  width: 48px;
  height: 48px;
  font-size: 24px;
  background-color: #FFFFFF;
  outline: none;
}
input:disabled {
  background-color: #EEEEEE;
}
.tablas{
  text-align: center;
  margin: auto;
}
h1 {
  text-align: center;
    text-shadow: 2px 2px 4px white;
    font-family: 'Indie Flower', cursive;
  font-size: 53px;
}

